body {
  font-family: Arial;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
